<div  (clickOutside)="onClose()" class="input-group" style="    width: 100%;" *ngIf="dataSets.length > 0 && type == 'default' && !loading">
  <ul class="auto-complete">
    <li [ngClass]="{'active': selectItems[name] == i}" (mouseover) = "changeSelect(i)" *ngFor="let data of dataSets;let i = index;" (click)="onSelect(i)">
      {{getName(data,dataName,dataSplit)}}
    </li>
  </ul>
</div>

<div *ngIf="loading" class="input-group" style="    width: 100%;" >
  <ul class="auto-complete">
    <li class="active">
      {{loadingMessage}}
    </li>
  </ul>
</div>
