<main id="main">
  <div class="main-wrapper">
    <section id="transactions" class="dashboard-sec section-bg">
      <div class="container">
        <div class="white-box">
          <div class="white-box">
            <h3 class="box-title">User Transactions</h3>
            <p></p>
            <div class="row">
              <div class="col-md-4">
                <div class="">
                  <div class="input-group-btn">
                    <select class="form-control btn btn-default selectpicker" (input)="searchVariable = $event.target.value">
                      <option value="mobile">Mobile Number</option>
                      <option value="status">Transaction Status</option>
                      <option value="r_id">Reference Id</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <angular2-date-picker class="form-control" style="width: 200px;" name='searchString' [(ngModel)]="fDate" [settings]="settingsFrom"
                  (input)="searchString = $event.target.value"></angular2-date-picker>
              </div>
              <div class="col-md-4">
                <angular2-date-picker class="form-control" style="width: 200px;" name='searchString' [(ngModel)]="toDate" [settings]="settingsTo"
                  (input)="searchString = $event.target.value"></angular2-date-picker>
                <!-- <input type='date' style="width: 250px;" class="form-control" [value]="searchString" name="searchString" (input)="searchString = $event.target.value"> &nbsp;&nbsp; -->
                <!-- <input type='date' style="width: 250px;" class="form-control" [value]="searchString2" name="searchString2" (input)="searchString2 = $event.target.value"> -->
              </div>
            </div> <br />
            <div class="row">
              <div class="col-md-6">
                <input type="text" class="form-control" [value]="searchString" name="searchString" placeholder="Type to search..." (input)="searchString = $event.target.value">
              </div>
              <button class="col-md-3" type="button" class="button  button2 " (click)="search()">
                <i class="fa fa-search"> </i> Search
              </button>
              <button type="button" class="col-md-3" class="button button3 " [disabled]="resetButtonShowStatus" (click)="reset()">
                <i class="fa fa-recycle"> </i>Reset
              </button>
            </div>
            <p></p>
            <div class="table-responsive" *ngIf="showData">
              <table class="table color-table inverse-table" style="text-align:center">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Mobile Number</th>
                    <!-- <th>Merchant Id</th> -->
                    <th>Transaction Amount</th>
                    <th>Transaction Date</th>
                    <th>Reference Id</th>
                    <!-- <th>Convenience Fee</th> -->
                    <th>Merchant Fee
                      <i class="fa fa-percent"></i>
                    </th>
                    <th>Transaction Status</th>
                    <!-- <th>Transaction For</th> -->
                    <!-- <th>Status</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pagedItems;let i=index" class="w3-hover-blue">
                    <td> {{((currentPage-1) * 10) +i+1}} </td>
                    <td> {{item.mobile_no}} </td>
                    <!-- <td> {{item.merchant_id}} </td> -->
                    <td> {{item.amount | number : '1.2-2'}} </td>
                    <td> {{item.transaction_date | date:'dd-MM-yyyy HH:mm:ss'}} </td>
                    <td> {{item.reference_id}} </td>
                    <!-- <td> {{item.con_fee}} </td> -->
                    <td> {{item.merchant_commission}} </td>
                    <td *ngIf="item.status == 0">Initiated</td>
                    <td *ngIf="item.status == 1">Success</td>
                    <td *ngIf="item.status == 2">Failure</td>
                    <td *ngIf="item.status == 3">Canceled</td>
                    <td *ngIf="item.status == 4">Refunded</td>
                    <td *ngIf="item.status == 5">Paid</td>
                    <!-- <td> {{item.transaction_for}} </td> -->
                    <td>
                      <button *ngIf="item.refund_status == 1" class="btn btn-info m-t-10" (click)="reFundProcess(item._id)" data-toggle="modal"
                        data-target="#reFundModel">Refund</button>
                      <span *ngIf="item.refund_status == 2">Refund Period Exceeded</span>
                    </td>
                    <td>
                    </td>
                    <!-- <td> {{item.status}} </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="!showData" style="text-align: center">
              <span>No Transactions Found.</span>
            </div>
          </div>


          <div *ngIf="paginationStatus && !errMsg" class="container">
            <div class="text-center">
              <!-- pager -->
              <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                  <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a *ngIf="page==currentPage" class="page-link" (click)="setPage(page)" style="background-color:#fb9678">{{page}}</a>
                  <a *ngIf="page!=currentPage" class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div *ngIf="errMsg">
            No Transaction Details Found.
          </div> -->

        </div>
      </div>
    </section>
  </div>
  <div style="padding-top: 80px;" class="modal fade" id="reFundModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Refund Amount</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group" *ngIf="checkRefundStatus">
              <h4>Transaction Amount : {{checkRefund.original_amount}}</h4>
              <br>
              <table class="table">
                <tr>
                  <th>Name</th>
                  <th>Pecentage</th>
                  <th>Pecentage Amount</th>
                  <th>Refund Amount</th>
                </tr>
                <tr>
                  <td>
                    <p class="col-form-label">User Conveneince fee</p>
                  </td>
                  <td>
                    <!-- <i class="fa fa-percent" aria-hidden="true"></i> -->
                    <b> {{checkRefund.con_fee | number : '1.2-2'}} %</b>
                  </td>
                  <td>
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <b> {{checkRefund.con_fee_amount | number : '1.2-2'}}</b>
                  </td>
                  <td>
                    <i class="fa fa-plus text-success" aria-hidden="true"></i>
                    <b>
                      <i class="fa fa-inr text-success" aria-hidden="true"> {{checkRefund.total_trans_amount | number : '1.2-2'}}</i>
                    </b>
                  </td>
                </tr>
              </table>
            </div>
            <div *ngIf="refundStatus==1">
              <div class="row justify-content-md-center">
                <p>Refunded</p>
              </div>
              <div class="row justify-content-md-center">
                <img src="assets/img/success.gif" height="50px" width="50px" />
              </div>
            </div>
            <div *ngIf="refundStatus==2">
              {{refundRemarks|json}}
            </div>
          </form>
        </div>
        <div class="modal-footer" *ngIf="checkRefundStatus">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" (click)="refund()">Refund</button>
          <!-- [disabled]="refundButtonStatus" -->
        </div>
      </div>
    </div>
  </div>
</main>
