<app-static-header></app-static-header>
<div class="banner-wrapper text-center">

  <div _ngcontent-c1="" class="container">

    <h3>
      ABOUT US

    </h3>

    <p>India is getting ready for a change. So are we</p>


  </div>


</div>

<div class="container">
  <div class="static-wrapper">
    <div class="stattic-title">
      <h2>About Way2money</h2>
    </div>
    <p>
      We have come a long way, remember way2sms? (You sure do). At the time when dial up connections and hefty telecom fees were making you nervous, we connected Indians with a simple but innovative product, Way2sms. More than 6CR Indians relied on our services to connect with their loved ones.
    </p>
    <p>
      Now the times are different and so is our outlook towards future. With great pride we present to you <b>WAY2MONEY</b>
    </p>
    <p>
      Way2Money is the financial technology platform that tries to make any payment effort-free
    </p>
  </div>
</div>


<footer-cmp></footer-cmp>