.default-error {
  color: #e84e4f;
  position: relative !important;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.default-error-one {
  color: #e84e4f;
  position: relative !important;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
