<div *ngIf="!type && (field.touched || validationError)" class="{{className?className:'default-error'}}">
  <span *ngIf="field.errors && field.errors?.required">
    {{fieldName}} is required.
  </span>
  <span *ngIf="!field.errors?.required && field.errors?.minlength">
    {{fieldName}} should be minimum {{field.errors.minlength.requiredLength}} characters.
  </span>


  <span *ngIf="!field.errors?.required && field.errors?.maxlength">
    {{fieldName}} should be less than {{field.errors.maxlength.requiredLength}} characters.
  </span>


  <span *ngIf="!field.errors?.required && field.errors?.email">
    {{fieldName}} is invalid.
  </span>

  <span *ngIf="!field.errors?.required && field.errors && field.errors?.minValue && !field.errors?.rangeValue">
    {{fieldName}} should be greater than {{field.errors.minValue.requiredValue}}.
  </span>


  <span *ngIf="!field.errors?.required &&  field.errors && field.errors?.maxValue && !field.errors?.rangeValue">
    {{fieldName}} should be less than {{field.errors.maxValue.requiredValue}}
  </span>


  <span *ngIf="!field.errors?.required && field.errors && field.errors?.rangeValue">
    {{fieldName}} should be in {{field.errors.rangeValue.requiredValue}}.
  </span>

  <span *ngIf="!field.errors?.required && field.errors && field.errors?.pattern">
    {{PatternMessage?PatternMessage:'Invalid ' + fieldName}}
  </span>

</div>
