.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* CSS used here will be applied after bootstrap.css */
body {
    background-color: #eaeaea;
  }
  
  img.avatar {
    border: 1px solid #eee;
  }
  
  .only-bottom-margin {
    margin-top: 0px;
  }
  
  .activity-mini {
    padding-right: 15px;
    float: left;
  }
  div {
    font-family: "Times New Roman", Times, serif;
}
.stylupd{
    margin-top:30px;
}
.errspan {
    float: right;
    margin-right: 10px;
    margin-top: -25px;
    position: relative;
    padding-left: 10px;
    border-left: rgb(175, 95, 95) solid 1px;
    outline-color:royalblue;
    z-index: 2;
    display: block;
    color: red;
}
/* Pop up css */

.otp-image {
    width: 60px;
    margin: 6px;
  }
  
  .otp1-image {
    width: 170px;
    margin-bottom: -34px;
  }
  
  .bg-blue1 .otp-content {
    padding: 30px;
  }
  
  .otp-content .input-group-addon {
    background-color: transparent !important;
    color: #9e9e9e !important;
    font-size: 20px !important;
  }
  
  .otp-content h5 {
    margin-bottom: 30px !important;
  }
  
  .otp-content .glyphicon {
    top: -8px !important;
  }
  
  .otp-content-ul li {
    cursor: pointer;
  }
  
  .otp-content ::placeholder {
    color: #525252 !important;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
  
  .otp-content input:focus {
    color: #525252 !important;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0.5px;
  }
  
  .otp-content p {
    color: #fff;
  }
  
  .otp-content label {
    color: #888888;
  }
  .close {
    float: right;
    font-size: 30px !important;
    font-weight: 800 !important;
    margin: -28px -28px !important;
    line-height: 1 !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #f00;
    filter: alpha(opacity=20);
    opacity: .9 !important;
    background-color: red !important;
    border: 1px solid #ff0000 !important;
    padding: 0px 6px !important;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .close:active {
    float: right;
    line-height: 1 !important;
    color: #ffffff !important;
    text-shadow: 0 1px 0 #f00;
    filter: alpha(opacity=20);
    opacity: .9 !important;
    background-color: red !important;
    border: 1px solid #ff0000 !important;
    border-radius: 50%;
    cursor: pointer;
    outline: none !important;
  }
  
  .close:focus {
    outline: none !important;
  }

  .color-success{
    color:blue;
  }
  .color-fail{
    color:red;
  }



// 

