<main id="main">
  <div class="main-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="white-box">
            <div class="panel panel-default" style="margin:50px">
              <div class="panel-body">
                <!-- <div class="row">
            <div class="col-md-12 lead">User profile
              <hr>
            </div>
          </div> -->
                <form class="form" ngForm='profileForm'>
                  <div class="row">

                    <div class="col-md-4 text-center" style="margin-top:50px">
                      <img class="img-circle avatar avatar-original" style="-webkit-user-select:none;
              display:block; margin:auto;" src="../../../assets/img/new_logo.png" width="100px" height="100px">
                    </div>

                    <div class="col-md-8">
                      <!-- <div class="row">
                <div class="col-md-12">
                  <h1 class="only-bottom-margin">Profile</h1>
                </div>
              </div> -->
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group stylupd">
                            <label for="uname">Name:</label>
                            <input type="text" id='username' name='uname' [(ngModel)]='profile.name' pattern="[a-zA-Z ]{2,30}" required #userName=ngModel
                              placeholder="Name" class="form-control">
                            <field-error [field]="userName" fieldName="User Name" PatternMessage="minimum 2 characters*">

                            </field-error>
                          </div>
                          <div class="form-group stylupd has-feedback">
                            <label for="email">Email address:</label>
                            <!-- <a href='/dispdetails' class="pull-right">Edit</a> -->
                            <div class="pull-right" style='cursor: pointer' [ngClass]="{'color-fail':profile.is_email_verified==0,'color-success':profile.is_email_verified==1}"
                              (click)='onVerifyEmail()'>{{profile.is_email_verified==0?'Verify':'Verified'}}</div>
                            <input type="email" disabled class="form-control" name='email' id="email" [(ngModel)]='profile.email' value="madhu.pattipati@gmail.com"
                            />
                            <span class="fa fa-pencil errspan" (click)="setshowEmail(true)"></span>
                          </div>
                          <div class="form-group stylupd">
                            <label for="mobile">Mobile:</label>
                            <!-- <a href='/dispdetails' class="pull-right">Update</a> -->
                            <input type="text" placeholder='mobile' disabled name='mobile' id="mobile" [(ngModel)]='profile.mobile_number' class="form-control">
                            <span class="fa fa-pencil errspan" (click)='isEdit()'></span>
                          </div>

                          <div class="form-group stylupd">
                            <label for="pwd">Password:</label>
                            <!-- <a href='/dispdetails' class="pull-right">Change</a> -->
                            <input type="password" disabled class="form-control" id="pwd" name='password' value='...'>
                            <span class="fa fa-pencil errspan " (click)='setshowChangePwd(true)'></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col-md-10">
                    <hr>
                    <button (click)='setProfileUpdate()' class="btn btn-default pull-right">
                      Update</button>
                  </div>
                  <div class="col-md-2">

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="new_mobile_update">
      <div class="img-circle">
        <div class="otp-image">
          <img src="./../../../../assets/img/logo.png" width="150" height="150" class="img-responsive center-block">
        </div>
        <br/>
        <br/>
        <div class="form-group">
          <div class="col-xs-6 col-xs-offset-3">
            <!-- <label > -->
            <div *ngIf="showOtpBox == false" class="modal-backdrop in"></div>

            <div class="modal" *ngIf="showOtpBox == false" style="display: block">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <button type="button" (click)="isEdit()" class="close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <div class="bg-blue col-sm-6">
                        <div class="otp-content">
                          <h2>Way2Money</h2>
                          <!-- <p>process to get assured loan</p> -->
                        </div>
                        <!-- <div class="otp1-image bg-blue">
                          <img src="assets/img/new_logo.png">
                        </div> -->
                      </div>
                      <div class="bg-white col-sm-6 bg-blue">
                        <div class="otp-image">
                          <img src="assets/img/new_logo.png">
                        </div>
                        <div class='form-group'>
                          <h5>Please enter mobile</h5>
                          <div class="input-group ">
                            <div class="col-sm-12">

                              <input type="number" maxlength="10" id="otp_field_one" required class="form-control" [(ngModel)]="new_mobile" #newmobile="ngModel"
                                pattern="(6|7|8|9)[0-9]{9}"/>
                              <field-error [field]="newmobile" fieldName="Mobile" PatternMessage='Valid Mobile required*' [validationError]="false">
                              </field-error>
                            </div>
                          </div>
                          <button type="button" class="btn btn-primary mt-2 text-secondary" style="margin-top:30px" [disabled]="newmobile.invalid"
                            (click)="onSendSMSOTP()">
                            SEND OTP</button>
                        </div>

                        <div *ngIf="profileError" class="alert alert-warning">
                          <!-- <a [routerLink]="['/login']" class="close" data-dismiss="alert">&times;</a> -->
                          {{profileError}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- </label> -->

            <div *ngIf="showOtpBox" class="pull-down">
              <div class="modal-backdrop in"></div>
              <div class="modal" style="display: block">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row">
                        <button type="button" (click)="isEdit()" class="close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="bg-blue col-sm-6">

                        </div>
                        <div class="bg-white col-sm-6">

                          <div class="otp-content">
                            <h5>Please enter OTP to verify</h5>

                            <div class="bottom1">
                              <div>
                                <input type='number' required [(ngModel)]='otp' #smsOtp=ngModel name='otp' id='smsotp' placeholder="Otp here" maxlength="4" pattern="[0-9]{4}">
                                <field-error [field]="smsOtp" fieldName="OTP " PatternMessage="4 digits only*">

                                </field-error>
                               
                                <!-- <partition-field (inputClick)="changeValue(null, 'profileVerifyError', '')" [valueDetails]="otp_details_verify" [partitionCount]="otp_count"
                                  [(value)]="otp" valueClass="">
                                
                                </partition-field> -->
                              </div>
                              <span *ngIf="profileVerifyError" class="default-error">
                                {{profileVerifyError}}
                              </span>
                            </div>

                            <button type="button" class="btn btn-blue white-lg bottom" [disabled]='smsOtp.invalid' (click)="onOTPVerify()"> Verify</button>

                          </div>


                          <div>
                            <!-- <p>Didn't receive OTP?
                              <a (click)="onResendOTP()">Send again</a>
                            </p> -->

                            <p *ngIf="(!otp_verification_time || otp_verification_time == 0)">
                              Didn't receive OTP?

                              <a (click)="onResendOTP()">Send again</a>
                            </p>
                            <p *ngIf="(otp_verification_time || otp_verification_time > 0) ">
                              <a>Resend in {{otp_verification_time
                                <10? '0'+otp_verification_time: otp_verification_time}} sec</a>
                            </p>
                          </div>

                          <!-- <div>
                          <span *ngIf="profileVerifyError" class="text-danger">
                              {{profileVerifyError}}
                            </span>
                            </div> -->

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <br/>
      </div>
    </div>

    <div *ngIf="showChangePwd">
      <div class="modal-backdrop in"></div>
      <div class="modal" style="display: block">
        <div class="modal-dialog" role="document">

          <div class="modal-content">
            <button type="button" (click)='setshowChangePwd(false)' class="close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div id="password_modal">
              <div class="modal-header">
                <h3>Change Password
                  <span class="extra-title muted"></span>
                </h3>
              </div>
              <div class="modal-body form"  >
                <div class="form-group">
                  <label for="current_password">Current Password</label>
                  <input type="password" [(ngModel)]='change_pwd.current_pwd' #currentPWD=ngModel required class="from-control" name="current_password">
                  <field-error [field]="currentPWD" fieldName="Current Password" validationError='validation_pwd_error'>
                  </field-error>
                </div>
                <div class="form-group">
                  <label for="new_password">New Password</label>
                  <input type="password" [(ngModel)]='change_pwd.new_pwd' #newPWD=ngModel required class="from-control" name="new_password">
                  <field-error [field]="newPWD" fieldName="new password" validationError='validation_pwd_error'>
                  </field-error>
                </div>
                <div class="form-group">
                  <label for="confirm_password">Confirm Password</label>
                  <input type="password" [(ngModel)]='change_pwd.conform_pwd' #conformPWD=ngModel required class="from-control" name="confirm_password">
                  <field-error [field]="conformPWD" fieldName="Conform Password" validationError='validation_pwd_error'>
                  </field-error>
                </div>
              </div>
              <div  *ngIf='pswdErr'>
                <span class="alert alert-info text-danger">{{pswdErr}}</span>
              </div>
              <div class="modal-footer">
                <button href="#" class="btn" data-dismiss="modal" (click)='setshowChangePwd(false)' aria-hidden="true">Close</button>
                <button href="#" class="btn btn-primary"  (click)='setChangePWD()' id="password_modal_save">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="showChangeEmail">
      <div class="modal-backdrop in"></div>
      <div class="modal" style="display: block">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <button type="button" (click)="setshowEmail(false)" class="close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div id="password_modal">
              <div class="modal-header">
                <h3>Change Password
                  <span class="extra-title muted"></span>
                </h3>
              </div>

              <div class="modal-body form">
                <div class="form-group">
                  <label for="confirm_password">New Email</label>
                  <input type="email" [(ngModel)]='new_email_update' required #newEmail=ngModel (keyup)='isEmailVerify()' class="from-control" name="confirm_password">
                  <div>
                    <span  *ngIf='!isEmailSucces' class="text-danger">{{mailVerifyErr}}</span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" (click)='setshowEmail(false)' aria-hidden="true">Close</button>
                <button class="btn btn-primary" (click)='setChangeEMAIL()' id="password_modal_save">SendEmail</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>