<div class="login">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 login-box">
      <div class="col-lg-6 left-box">
        <h1>Way2Money</h1>
        <p>You Buy - We Pay</p>
        <br>
        <button class="btn btn-default" (click)="onChangeRegister()" *ngIf="!isRegister">Register</button>
        <button class="btn btn-default" (click)="isLoginChange()" *ngIf="!isLogin">Login</button>
        <button class="btn btn-default" (click)="onClickChangePassword()" *ngIf="!isForgot">Forgot Password</button>

      </div>
      <!-- LOGIN PAGE -->
      <div class="col-lg-6 right-box" *ngIf="isLogin">
        <h1>Login</h1>
        <div class="form">
          <div class="form-group">
            <label for="username">Mobile</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your mobile number" [(ngModel)]="mobile" required>
          </div>
          <div class="form-group">
            <label for="password">Your password</label>
            <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" required>
          </div>
          <button class="btn btn-default" (click)="onClickLogin()">Login</button>
          <!-- <button class="btn btn-default" (click)="onClickChangePassword()">Forgot Password</button> -->
        </div>
      </div>
      <!-- FORGOT PASSWORD -->
      <div class="col-lg-6 right-box" *ngIf="isForgot">
        <h1>Forgot password</h1>
        <i>Please verify your mobile first</i>
        <div class="form">
          <div class="form-group">
            <label for="username">Mobile</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your mobile number" [(ngModel)]="mobile" required>
          </div>
          <button class="btn btn-default" (click)="onClickForgot()">SEND OTP</button>

        </div>
      </div>
      <!-- RESET PASSWORD -->
      <div class="col-lg-6 right-box" *ngIf="isResetPassword">
        <h1>Reset Password</h1>
        <div class="form">
          <div class="form-group">
            <label for="username">Password</label>
            <input type="text" id="username" class="form-control" placeholder="Enter your mobile number" [(ngModel)]="password" required>
          </div>
          <div class="form-group">
            <label for="password">Confirm password</label>
            <input type="password" id="password" class="form-control" placeholder="Enter your password" [(ngModel)]="confirm_password"
              required>
          </div>
          <button class="btn btn-default" (click)="onClickUpdatePassword()">Update & Login</button>
          <!-- <button class="btn btn-default" (click)="onClickChangePassword()">Forgot Password</button> -->
        </div>
      </div>
      <!-- REGISTER PAGE -->
      <div class="col-lg-6 right-box" *ngIf="isRegister">
        <span>
          <i>
            *Few seconds are remaining to get Rs.500/- into your wallet
          </i>
        </span>
        <h1>Register</h1>
        <div>
          <div class="row">
            <div class="form-group col-sm-6">
              <label for="username">First Name</label>
              <input type="text" class="form-control" [(ngModel)]="fname">
            </div>
            <div class="form-group col-sm-6">
              <label for="username">Last Name</label>
              <input type="text" class="form-control" [(ngModel)]="lname">
            </div>
          </div>

          <!-- Mobile -->
          <div class="form-group">
            <label for="username">Mobile</label>
            <input type="text" class="form-control" placeholder="Enter your mobile number" [(ngModel)]="mobile">
          </div>
          <!-- Password -->
          <div class="form-group">
            <label for="password">Your password</label>
            <input type="password" class="form-control" placeholder="Enter your password" [(ngModel)]="password" (keyup.enter)="onClickNext()">

          </div>
          <!-- EMAIL -->
          <div class="form-group">
            <label for="username">Email</label>
            <input type="text" class="form-control" placeholder="Enter your mobile number" [(ngModel)]="email">
          </div>
          <button class="btn btn-default" (click)="onClickNext()">Next</button>
        </div>
      </div>
      <!-- OTP SHOWING BOX -->
      <div class="col-lg-6 right-box" *ngIf="isOTPSHOW">
        <h1>OTP</h1>
        <div class="form">
          <div class="form-group">
            <!-- <label for="username">ENTER OTP</label> -->
            <span>
              <i>
                * otp has sent successfully to {{mobile}}
              </i>
            </span>
            <input type="text" id="username" class="form-control" placeholder="Enter OTP" [(ngModel)]="otp">
            <a (click)="onClickNext()">Resend OTP</a>
          </div>
          <button class="btn btn-default" (click)="onClickBack()">Back</button>
          <button class="btn btn-default" (click)="onClickRegister()">Register</button>
        </div>
      </div>
      <!-- right-box -->
    </div>
    <!--col-lg-8-->

  </div>
</div>
