<app-static-header></app-static-header>


<div class="banner-wrapper text-center">

  <div _ngcontent-c1="" class="container">

    <h3>
      Privacy Policy

    </h3>

    <p>BY USING THE WEBSITE, YOU AGREE TO THE TERMS AND CONDITIONS OF THIS POLICY</p>


  </div>


</div>

<div class="container">
  <div class="static-wrapper">
    <div class="stattic-title">
      <h2>Privacy Policy</h2>
    </div>
    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with way2money.com.</p>
    <p><b>BY USING THE WEBSITE, YOU AGREE TO THE TERMS AND CONDITIONS OF THIS POLICY.</b></p>
    <div class="static-doc">
      <h4>ScopeWhat personal information do we collect from the people that visit our blog, website or app?</h4>
      <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number, pan, aadhar details, form 26 AS, recent photograph, signature image, KYC detls and Mobile based information for availing the service., We will also receive and save transactional information such as vendor name, transaction amount, repayment dates and others
      </p>
    </div>

    <div class="static-doc">
      <h4>When do we collect information?</h4>
      <p>We collect information from you when you register on our site, place an order, subscribe to a Mobile OTP verification, Newsletter, respond to a survey, Use Live Chat, Profile Verification, Service verification, Payment on 3RD party Merchant . On installing our mobile application or third party application associated with us, we might use inbox details, location details, contact details and any other relevant details for serviceability.
      </p>
    </div>

    <div class="static-doc">
      <h4>How do we use your information?</h4>
      <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
      </p>
      <ul>
        <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
        </li>
        <li>To assess your eligibility using third party services for way2money services and sub products
        </li>
        <li>To improve our website in order to better serve you.
        </li>
        <li>To allow us to better service you in responding to your customer service requests.
        </li>
        <li>To quickly process your transactions.
        </li>
        <li>To send periodic emails regarding your order or other products and services.
        </li>
        <li>To follow up with them after correspondence (live chat, email or phone inquiries).
        </li>
        <li>To share the details with our affiliate and business partners including credit information companies</li>
        <li>To create and classify customers buckets as per internal requirements
        </li>
        <li>To have a call, message or email communication with you.
        </li>

      </ul>
    </div>
    <div class="static-doc">
      <h4>We will not be saving your</h4>
      <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:
      </p>
      <ul>
        <li>Credit/Debit/Net-Banking or other banking details on our server.
        </li>
      </ul>
    </div>
    <div class="static-doc">
      <h4>How do we protect your information?</h4>
      <p>Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
      </p>
      <p>We use regular Malware Scanning.</p>
      <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
      <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
      <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.
        Our servers are in secure facilities where access requires multiple levels of authentication, including an identity card and biometrics recognition procedures. Security personnel monitor the facilities 7 days a week, 24 hours a day.
      </p>


    </div>
    <div class="static-doc">
      <h4>Do we use 'cookies'?</h4>
      <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.
      </p>



    </div>
    <div class="static-doc">
      <h4>We use cookies to:</h4>
     <ul>
       <li>Help remember and process the items in the shopping cart.</li>
       <li> Understand and save user's preferences for future visits.</li>
       <li>Keep track of advertisements.</li>
       <li> Compile aggregate data about site traffic and site interactions in order to offer better site experiences and tools in the future. We may also use trusted third-party services that track this information on our behalf.
       </li>
     </ul>
      <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
      </p>
    </div>
    <div class="static-doc">
      <h4>If users disable cookies in their browser:</h4>
      <p>If you turn cookies off it will turn off some of the features of the site.
      </p>
    </div>

    <div class="static-doc">
      <h4>Do we disclose the information we collect to Third-Parties?</h4>
      <p>We may use the personal identifiable information, Mobile information, with trusted third parties for a complete functional utilization of the service. You abide by the terms by using any way2money service.

      </p>
    </div>
    <div class="static-doc">
      <h4>We engage in this practice because:</h4>
      <p>As a marketplace the collected information is given to channel partner (Banks/NBFCs)
      </p>
    </div>
    <div class="static-doc">
      <h4>Third-party links</h4>
      <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

      </p>
    </div>
    <div class="static-doc">
      <h4>Optout</h4>
      <p>Users can set preferences for how Google advertises to you using the Google Ad Settings page. Alternatively, you can opt out by visiting the Network Advertising Initiative Opt Out page or by using the Google Analytics Opt out Browser add on. You may opt out of location based services at any time by editing the setting of your browser.</p>
      <br>
       To opt out of the services you can share your Mobile/Email details to privacy@way2money.com for

    </div>
    <div class="static-doc">
      <h4>Fair Information Practices</h4>
      <p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
      </p>
      <ul>
        <li>We will notify you via email Within 7 business days or
        </li>
        <li>We will notify the users via in-site notification Within 7 business days
        </li>
      </ul>
    </div>
    <div class="static-doc">
      <h4>Security</h4>
      <p>Notwithstanding anything contained in this Policy or elsewhere, way2money shall not be held responsible for any loss, damage or misuse of Your Personal Information, if such loss, damage or misuse is attributable to an  event that is beyond the reasonable control of way2money and shall include, without limitation, sabotage, fire, flood, explosion, acts of God, civil commotion, strikes or industrial action of any kind, riots, insurrection, war, acts of government, computer hacking, unauthorized access to computer data and storage device, computer crashes, breach of security and encryption, etc.
      </p>
    </div>
  </div>
</div>
<footer-cmp></footer-cmp>
