
<div class="panel panel-default" class="text-center mt-5" style='margin-left:300px'>
  <div class='card col-md-8 m-2 p-3 text-center' >

    <div><b>Payment Status</b></div>
    <div *ngIf='response_message'> {{response_message }}</div>
    <a (click)='sendRoute()' style='cursor:pointer' class="text-danger mt-3" >Go to Transaction Page...</a>
  </div>
</div>



