<div class="wrapper-page">
    <div class="text-center logo-alt-box">
        <a href="" class="logo">
            <img src="./../../assets/img/new_logo.png" alt="logo">
        </a>
    </div>
    <div class="m-t-30 card-box">
        <div class="text-center">
            <h4 class="text-uppercase font-bold m-b-0">Notification !!</h4>
        </div>
        <div class="panel-body text-center">
            <i class=" text-success" style="font-size: 48px;"></i>
            <p class="text-muted font-13 m-t-20">{{ message }}</p>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <p class="text-muted">
                    <a class="text-primary m-l-5" style='cursor:pointer' (click)='onContinue()'>
                        <b>Continue...</b>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- end card-box -->

</div>