<app-static-header></app-static-header>

<div class="banner-wrapper text-center">

  <div _ngcontent-c1="" class="container">

    <h3>
      FAQ's
    </h3>

    <p>Our trust algorithm decides your credibility</p>


  </div>


</div>

<div class="container">
  <div class="static-wrapper">
    <div class="stattic-title">
      <h2>FAQ's</h2>
    </div>
    <div class="static-doc">
      <h4>How it works
      </h4>
      <p>
        Our trust algorithm decides your credibility and you are served with the necessary credit line. With the credit line you
        can purchase thought any of our available merchants and repay us back in your leisure time within 15 days
      </p>
    </div>
    <div class="static-doc">
      <h4>What are the service charges
      </h4>
      <p>
        For every transaction a 3% convenience fee is charged from the user. No other hidden charges
      </p>
    </div>
    <div class="static-doc">
      <h4>How can I repay</h4>
      <p>
        Using our app (payment gate)or payment links that are communicated to you at necessary intervals
      </p>
    </div>
    <div class="static-doc">
      <h4>During repayment there was an error and money was deducted, what to do?
      </h4>
      <p>
        No worries! You can connect with us on XXXXXXXXXX or email us on
        <a href="mailto:hello@way2money.com">hello@way2money.com</a>
      </p>
    </div>
    <div class="static-doc">
      <h4>My money is deducted however it show pending in my w2m account
      </h4>
      <p>
        There can be multiple reasons here, connect with us on
        <a href="mailto:hello@way2money.com">hello@way2money.com</a> with transaction id, your mobile account number, and the query.
      </p>
    </div>
    <div class="static-doc">
      <h4>I am not able to pay via w2m
      </h4>
      <p>
        Please check if the order size/basket size/shopping cart is not more than the credits
      </p>
    </div>
    <div class="static-doc">
      <h4>How do I get a refund
      </h4>
      <p>
        The refund amount will be directed in your way2money account
      </p>
    </div>
    <div class="static-doc">
      <h4>What are the penalties/ late fee charges
      </h4>
      <p>
        Rs.250 for a late payment beyond 15 days of first transaction
      </p>
    </div>
    <div class="static-doc">
      <h4>What happens if I don’t pay at all
      </h4>
      <p>
        We will block the account for lifetime and take necessary legal actions whenever applicable
      </p>
    </div>
    <div class="static-doc">
      <h4>How do I connect with way2money
      </h4>
      <p>
        XXXXXXXXXX or
        <a href="mailto:hello@way2money.com">hello@way2money.com</a>
      </p>
    </div>
    <div class="static-doc">
      <h4>What to do in case my mobile is stolen or lost
      </h4>
      <p>
        Give us a call and we will suspend or pause the account.
      </p>
    </div>
    <div class="static-doc">
      <h4>What are the hidden fees
      </h4>
      <p>
        The days of hidden fees are over my friend. We give you all the awesomeness at 3% convenience fee
      </p>
    </div>
    <div class="static-doc">
      <h4>What is the payment cycle
      </h4>
      <p>
        15 days from the day of transaction
      </p>
    </div>
    <div class="static-doc">
      <h4>Is there any processing fee
      </h4>
      <p>
        No!
      </p>
    </div>
    <div class="static-doc">
      <h4>Is there any interest on payments
      </h4>
      <p>
        No!
      </p>
    </div>
    <div class="static-doc">
      <h4>How do we become eligible
      </h4>
      <p>
        Our algorithms decide that using the information that you provide.
      </p>
    </div>
    <div class="static-doc">
      <h4>How can I deactivate my account
      </h4>
      <p>
        We are in process on creating an automated easy click button. Till then you will have to mail us on
        <a href="mailto:hello@way2money.com">hello@way2money.com</a> or call us on XXXXXXXXXX
      </p>
    </div>
    <div class="static-doc">
      <h4>What is inactivity period
      </h4>
      <p>
        A period of 15 day where you don’t use the service is considered in-activity period
      </p>
    </div>
    <div class="static-doc">
      <h4>Why my available funds are reduced
      </h4>
      <p>
        In activity or less spending will result in reduction of funds
      </p>
    </div>
    <div class="static-doc">
      <h4>How can I extend my fund limit
      </h4>
      <p>
        By diligently using our services and regular repayments.
      </p>
    </div>
    <div class="static-doc">
      <h4>How to refer a friend
      </h4>
      <p>
        Oh! We believe great minds attract greater minds, so with all the will do go on to our app and bring in your friends
      </p>
    </div>
    <div class="static-doc">
      <h4>Do I get notification of re- payments ?
      </h4>
      <p>
        Yes 5 days before the deadline and also on the deadline date
      </p>
    </div>
    <div class="static-doc">
      <h4>What happens in in-activity period.
      </h4>
      <p>
        After 15 days we look in for some activity from your side for next 15 days. Later the funds are reduced from your account
      </p>
    </div>
    <div class="static-doc">
      <h4>What is re-payment money
      </h4>
      <p>
        The money you pay us back
      </p>
    </div>
    <div class="static-doc">
      <h4>Will I charged for unutilized fund
      </h4>
      <p>
        NO. You won’t be charged for unutilized funds
      </p>
    </div>
    <div class="static-doc">
      <h4>Are there any taxes
      </h4>
      <p>
        No the convenience fees include all taxes.
      </p>
    </div>
  </div>
</div>

<footer-cmp></footer-cmp>
