<!--==========================
    Header
  ============================-->
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1>
        <a class="scrollto">
          <a [routerLink]='["/app/dashboard"]'>
            <img src="assets/img/way2money-logo.png" alt="way2money" />
          </a>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
    </div>
    <!-- Main Nav Bar -->
    <button type="button" id="mobile-nav-toggle" href="javascript:void(0);" style="font-size:15px;" class="icon">
      <i class="fa fa-bars"></i>
    </button>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a [routerLink]='["/app/dashboard"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
          <a [routerLink]='["/app/transactions/1"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Transactions</a>
        </li>
        <li>
          <a [routerLink]='["/app/claim-history"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Claim History</a>
        </li>
        <li>
          <a [routerLink]='["/app/reports"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Reports</a>
        </li>
        <li>
          <a [routerLink]='["/app/merchant-profile/1"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">User Profile</a>
        </li>
        <li *ngIf="isLogoutSHOW">
          <a [routerLink]='["/app/home"]' (click)="logout()">Log out</a>
        </li>

      </ul>
      <!-- <ul class="nav-menu" *ngIf="is_profile_verified">
        <li>
          <a [routerLink]='["/app/dashboard"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
          <a [routerLink]='["/app/merchant-profile/1"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">User Profile</a>
        </li>
        <li *ngIf="isLogoutSHOW">
          <a [routerLink]='["/app/home"]' (click)="logout()">Log out</a>
        </li>

      </ul>
      <ul class="nav-menu" *ngIf="is_nothing_verified">
        <li>
          <a [routerLink]='["/app/merchant-profile"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">User Profile</a>
        </li>
        <li *ngIf="isLogoutSHOW">
          <a [routerLink]='["/app/home"]' (click)="logout()">Log out</a>
        </li>

      </ul> -->
    </nav>

  </div>
</header>


<!-- #header -->
<!-- <nav>
  <ul class="nav-menu" id="mobile-nav-toggle" style="padding-top: 40px;">
    <li>
      <a [routerLink]='["/app/dashboard"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Dashboard</a>
    </li>
    <li>
      <a [routerLink]='["/app/transactions"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Transactions</a>
    </li>
    <li>
      <a [routerLink]='["/app/transactions/claim/paid-history"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">Paid History</a>
    </li>
    <li>
      <a [routerLink]='["/app/users/profile"]' [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">User Profile</a>
    </li>
    <li *ngIf="isLogoutSHOW">
      <a [routerLink]='["/app/home"]' (click)="logout()">Log out</a>
    </li>

  </ul>
</nav> -->
