<div class="main">
  <div class="main-wrapper">
    <div class="container">
      <div class="row" style="margin-bottom: 100px">
        <div class="col-sm-12" style="margin-top: 20px">
          <div class="white-box" *ngIf="firstStep">
            <div class="row">
              <div class="col-6">
                <h3 class="">{{ merchantId == undefined ? 'MERCHANT DETAILS' : 'EDIT MERCHANT' }}</h3>
              </div>
              <div class="col-6">
              </div>
            </div>
            <form class="form" #regMerchantForm>
              <!-- <p class="text-muted m-b-30 font-13"> </p>
              <div class="form-group row">
                <label for="name" class="col-2 col-form-label">QR Code</label>
                <div class="col-10">
                  <a class="text-info" (click)="downloadQR()">Download</a>
                </div>
              </div> -->

              <div class="form-group row">
                <label for="name" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                  <input class="form-control" type="text" [(ngModel)]="updateMerchant.name" [pattern]="namePattern"
                    minlength=4 placeholder="Enter Name" id="name" name="name" #name="ngModel" required>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)">
                    <span *ngIf="name.errors.required" class="text-danger">
                      *required.
                    </span>
                    <span *ngIf="name.errors.minlength" class="text-danger">
                      Name must be at least 4 characters long.
                    </span>
                    <span *ngIf="!name.errors.minlength && name?.errors?.pattern" class="text-danger">
                      Name is not valid
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                  <input class="form-control" minlength=4 type="email" [pattern]="emailPattern"
                    [(ngModel)]="updateMerchant.email" placeholder="Enter Email" name="email" id="example-email-input" #email="ngModel"
                    required>
                  <div *ngIf="email.invalid && (email.dirty || email.touched)">
                    <span *ngIf="email.errors.required" class="text-danger">
                      *required.
                    </span>
                    <span *ngIf="email.errors.minlength" class="text-danger">
                      Email must be at least 4 characters long.
                    </span>
                    <span *ngIf="!email.errors.minlength && email?.errors?.pattern" class="text-danger">
                      Email is not valid
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-mobile-input" class="col-2 col-form-label">Mobile</label>
                <div class="col-10">
                  <input class="form-control" [readonly]="true" [pattern]="mobilePattern" name="mobile" type="number" [(ngModel)]="updateMerchant.mobile"
                    placeholder="Enter Mobile Number" id="example-mobile-input" required #mobile="ngModel">
                  <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                    <span *ngIf="mobile.errors.required" class="text-danger">
                      *required.
                    </span>
                    <span *ngIf="mobile.errors.minlength" class="text-danger">
                      Mobile Number must be at least 10 characters long.
                    </span>
                    <span *ngIf="!mobile.errors.minlength && mobile?.errors?.pattern" class="text-danger">
                      Mobile is not valid
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-brand-input" class="col-2 col-form-label">Company/Brand Name</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="brand" [(ngModel)]="updateMerchant.brand_name" placeholder="Enter Brand Name"
                    id="example-brand-input" required #brand="ngModel">
                  <div *ngIf="brand.invalid && (brand.dirty || brand.touched)">

                    <span *ngIf="brand.errors.required" class="text-danger">
                      *required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2">
                </div>
                <div class="col-8">
                  <p *ngIf="regMerchantResponse.status_code != 200 " class="text-danger">{{ regMerchantResponse.message }} </p>
                </div>
                <div class="col-2">
                  <button type="button" [disabled]="regMerchantForm.invalid" class="btn btn-primary pull-right" (click)="onSubmit(1)">Proceed</button>
                </div>
              </div>
            </form>
          </div>
          <div class="white-box" *ngIf="secondStep">
            <form class="form" #regBankForm>
              <div class="row">
                <div class="col-6">
                  <h3 class="">{{ merchantId == undefined ? 'MERCHANT BANK DETAILS' : 'EDIT BANK DETAILS' }}</h3>
                </div>
                <div class="col-6">
                </div>
              </div>
              <div class="form-group row">
                <label for="example-bank-input" class="col-2 col-form-label">Bank</label>
                <div class="col-10">
                  <select class="form-control" name="bank" [(ngModel)]="updateMerchant.bank_name" id="example-bank-input" required>
                    <option selected value="active" hidden>
                      {{updateMerchant.bank_name }}
                    </option>
                    <option *ngFor="let bank of banks">
                      {{bank}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="example-acno-input" class="col-2 col-form-label">Account Number</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="accountNumber" [(ngModel)]="updateMerchant.account_no" placeholder="Enter Account Number"
                    id="example-acno-input" #accountNumber="ngModel">
                  <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="example-namebank-input" class="col-2 col-form-label">Name on Bank</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="namebank" [(ngModel)]="updateMerchant.name_on_bank" placeholder="Enter Name on Bank"
                    id="example-namebank-input" #namebank="ngModel">
                  <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                    <span *ngIf="tin.errors.required" class="text-danger">
                      *required.
                    </span>
                  </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="example-ifsc-input" class="col-2 col-form-label">IFSC Code</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="ifsc" [(ngModel)]="updateMerchant.ifsc_code" placeholder="Enter IFSC Code"
                    id="example-ifsc-input" #ifsc="ngModel">
                  <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="example-panno-input" class="col-2 col-form-label">PAN Number</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="panno" [pattern]="panPattern" [(ngModel)]="updateMerchant.pan_number" placeholder="Enter Pan Card Number.. EX: AAAAA1234A"
                    id="example-panno-input" #panno="ngModel">
                  <!-- <div *ngIf="panno.invalid && (panno.dirty || panno.touched)">
                    <span *ngIf="panno?.errors?.pattern" class="text-danger">
                      PAN is should be in correct form.
                    </span>
                  </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="example-panname-input" class="col-2 col-form-label">Name On Pan Card</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="panname" [(ngModel)]="updateMerchant.pan_name" placeholder="Enter Name on Pan card"
                    id="example-panname-input" #panname="ngModel">
                  <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                  <span *ngIf="tin.errors.required" class="text-danger">
                    *required.
                  </span>
                </div> -->
                </div>
              </div>
              <div class="form-group row">
                <label for="example-tin-input" class="col-2 col-form-label">TIN</label>
                <div class="col-10">
                  <input class="form-control" type="text" name="tin" [pattern]="tinPattern" [(ngModel)]="updateMerchant.tin" placeholder="Enter TIN Number.. EX: 12AAAAA1234A1Z4"
                    id="example-tin-input" #tin="ngModel">
                  <!-- <div *ngIf="tin.invalid && (tin.dirty || tin.touched)">
                    <span *ngIf="tin?.errors?.pattern" class="text-danger">
                      TIN is should be in correct form.
                    </span>
                  </div> -->
                </div>
              </div>
              <div class="form-group row">
                <div class="col-2">
                  <button type="button" class="btn btn-primary" (click)="onBack(2)">Back</button>
                  <!-- <button *ngIf="merchantId" type="button" class="btn btn-info" [disabled]="regMerchantForm.invalid" (click)="onUpdate()">Update</button> -->
                  <!-- <button *ngIf="!merchantId" type="button" class="btn btn-info" [disabled]="regMerchantForm.invalid" (click)="onSubmit()">Register</button> -->
                </div>
                <div class="col-6">
                  <p *ngIf="regMerchantResponse.status_code != 200 " class="text-danger">{{ regMerchantResponse.message }} </p>
                  <span *ngIf="tin.invalid" style="color: red">
                    TIN is should be in correct form.
                  </span>
                  <span *ngIf="panno.invalid" style="color: red">
                      PAN Number is should be in correct form.
                    </span>
                </div>
                <div class="col-4">
                  <div class="pull-right">
                    <button type="button" class="btn btn-primary" (click)="onSkip(2)">Skip</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" [disabled]="tin.invalid || panno.invalid" class="btn btn-primary" (click)="onSubmit(2)">Proceed</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="white-box" *ngIf="thirdStep">
            <div class="row">
              <div class="col-6">
                <h3 class="">{{ merchantId == undefined ? 'ADD MERCHANT DOCUMENTS' : 'EDIT MERCHANT DOCUMENTS' }}</h3>
              </div>
              <div class="col-6">
              </div>
            </div>
            <div class="form-group row">
              <label for="example-logo-input" class="col-2 col-form-label">Logo</label>
              <div class="col-10 row">
                <div class="form-group col-sm-6">
                  <form enctype="multipart/form-data">
                    <input type="file" name="logo_url" accept="image/x-png, image/gif, image/jpeg" (change)="uploadLogo($event.target.files, 'logo_url')"
                    />
                  </form>
                </div>
                <div *ngIf="updateMerchant.logo_url != undefined" class="form-group col-sm-4">
                  <img class="thumbnail zoom" src="{{updateMerchant.logo_url}}" alt="logo_img" style="width: 100px; height: 100px">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-pan-input" class="col-2 col-form-label">Pan Card</label>
              <div class="col-10 row">
                <div class="form-group col-sm-6">
                  <form enctype="multipart/form-data">
                    <input type="file" name="pan_card" accept="image/x-png, image/gif, image/jpeg" (change)="uploadLogo($event.target.files, 'pan_card')"
                    />
                  </form>
                </div>
                <div *ngIf="updateMerchant.pan_card != undefined" class="form-group col-sm-4">
                  <img class="thumbnail zoom" src="{{updateMerchant.pan_card}}" alt="pan_card" style="width: 100px; height: 100px">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="example-check-input" class="col-2 col-form-label">Check Leaf</label>
              <div class="col-10 row">
                <div class="form-group col-sm-6">
                  <form enctype="multipart/form-data">
                    <input type="file" name="check" accept="image/x-png, image/gif, image/jpeg" (change)="uploadLogo($event.target.files, 'check_leaf')"
                    />
                  </form>
                </div>
                <div *ngIf="updateMerchant.check_leaf != undefined" class="form-group col-sm-4">
                  <img class="thumbnail zoom" src="{{updateMerchant.check_leaf}}" alt="check_leaf" style="width: 100px; height: 100px">
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-2">
                <button type="button" class="btn btn-primary" (click)="onBack(3)">Back</button>
              </div>
              <div class="col-8">
                <p *ngIf="regMerchantResponse.status_code != 200 " class="text-danger">{{ regMerchantResponse.message }} </p>
              </div>
              <div class="col-2">
                <button type="button" class="btn btn-primary pull-right" (click)="onSubmit(3)">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
