<div class="row">
  <div class="col-xs-4">
    <select class="form-control" [disabled]="isDisabled" name="years" [(ngModel)]="value.year" (change)="changeDate(); prepareDates(value.year, value.month)"
      #Year="ngModel">
      <option value="" selected="selected">YYYY</option>
      <option value="{{year}}" *ngFor="let year of years;">
        {{year}}
      </option>
    </select>
  </div>


  <div class="col-xs-4">
    <select class="form-control" [disabled]="isDisabled" name="months" [(ngModel)]="value.month" (change)="changeDate(); prepareDates(value.year, value.month)"
      #Month="ngModel">
      <option value="" selected="selected">Month</option>
      <option value="{{month}}" *ngFor="let month of month_numbers;">
        {{month_names[month-1]}}
      </option>
    </select>
  </div>

  <div class="col-xs-4">
    <select class="form-control" [disabled]="isDisabled" name="days" [(ngModel)]="value.day" (change)="changeDate()" #Day="ngModel">
      <option value="">DD</option>
      <option value="{{day}}" *ngFor="let day of days;">
        {{day}}
      </option>
    </select>
  </div>

</div>
