/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/ng2-toastr/bundles/ng2-toastr.min.css"; */


.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 20px;
  border-radius: 4px;
}

.button {
  background-color: rgb(76, 130, 175); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
 
}
.button2 {
  background-color: white; 
  color: black; 
  border-radius: 12px;
  padding: 1px 50px;
  border: 2px solid #008CBA;
  
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  border-radius: 12px;
  padding: 1px 50px;
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}