<main id="main">
  <div class="main-wrapper">
    <section id="transactions" class="dashboard-sec section-bg">
      <div class="container">
        <div class="white-box">
          Trying something awesome....coming soon
        </div>
      </div>
    </section>
  </div>
</main>