<main id="main">
  <div class="main-wrapper">
    <section id="aboutCredit" class="dashboard-sec section-bg">
      <div class="container">
        <!-- Users Count -->
        <div class="row" style="font-size: 15px; color:#ff1a1a">
          <marquee direction = "left" *ngIf="!is_admin_verified">
            (Your profile is under investigation.) <br> <br>
          </marquee>
        </div>
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Total users </div>
                </li>
                <li class="text-right">
                  <i class="ti-arrow-up text-success"></i>
                  <span class="counter text-success">
                    {{dashboarData.total_users ? dashboarData.total_users : 0}}
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Today users</div>
                </li>
                <li class="text-right">
                  <i class="ti-arrow-up text-success"></i>
                  <span class="counter text-success">
                    {{dashboarData.today_users ? dashboarData.today_users : 0}}
                  </span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Yesterday users</div>
                </li>
                <li class="text-right">
                  <span class="counter text-success">
                    {{dashboarData.yesterday_users ? dashboarData.yesterday_users : 0}}
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- Transactions Count -->
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Total
                    <br> Transaction </div>
                </li>
                <div class="text-success">
                  <i class="fa text-success"></i> {{(dashboarData.total_transaction ? dashboarData.total_transaction : 0)+(dashboarData.today_transaction ? dashboarData.today_transaction : 0)}}
                </div>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Transactions (Today) </div>
                </li>
                <div class="text-success">
                  <i class="fa text-success"></i> {{dashboarData.today_transaction ? dashboarData.today_transaction : 0}}
                </div>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Transactions (Yesterday)</div>
                </li>
                <div class="text-success">
                  <i class="fa text-success"> </i>{{dashboarData.yesterday_transaction ? dashboarData.yesterday_transaction : 0}}
                </div>
              </ul>
            </div>
          </div>
        </div>

        <!-- Merchants Amount -->
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Total balance</div>
                </li>
                <div class="text-success">
                  <i class="fa fa-inr text-success"></i>{{( (dashboarData.pending_amt ? dashboarData.pending_amt : 0)+(dashboarData.approved_amt ? dashboarData.approved_amt:
                  0)).toFixed(2) }}
                  <div style="font-size: 11px; color:#ff1a1a">

                    <span *ngIf="merchantDetails.bank_details == 0 && (merchantDetails.pan_details == 0 || merchantDetails.pan_details == 1)">
                        Your bank details and pan details are not submitted.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 0 && merchantDetails.pan_details == 2">
                        Your bank details are not submitted.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 0 && merchantDetails.pan_details == 3">
                        Your bank details are not submitted.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 1 && (merchantDetails.pan_details == 0 || merchantDetails.pan_details == 1)">
                        Your pan details are not submitted.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 1 && merchantDetails.pan_details == 2">
                        Your bank details and pan details are under verification.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 1 && merchantDetails.pan_details == 3">
                        Your bank details are under verification.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 2 && (merchantDetails.pan_details == 0 || merchantDetails.pan_details == 1)">
                        Your pan details are not submitted.
                    </span>
                    <span *ngIf="merchantDetails.bank_details == 2 && merchantDetails.pan_details == 2">
                        Your pan details are under verification.
                    </span> 
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="white-box credit-info">
              <ul class="list-inline two-part d-flex">
                <li>
                  <div class="box-title">Claimed Amount</div>
                </li>
                <div class="text-success">
                  <i class="fa fa-inr text-success"></i> {{(dashboarData.claimed_amt ? dashboarData.claimed_amt : 0).toFixed(2)}}
                </div>
              </ul>
            </div>
          </div>
        </div>

        <!-- chart -->
      </div>
    </section>
    <section id="table-section" class="section-bg section-row m-b-15">
      <div class="row">
        <div class="col-lg-12 col-sm-6 col-xs-12">
          <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <div class="white-box">
                  <form #days="ngForm" (ngSubmit)="filter(days)">
                    <div class="row white-box">
                      <div class="col-sm-10">
                        <select [(ngModel)]="days_select" name="days" class="custom-select col-12" id="inlineFormCustomSelect">
                          <option selected hidden>{{days_select}}</option>
                          <option value="30">Last 30 days</option>
                          <option value="15">Last 15 days</option>
                          <option value="7">Last 7 days</option>
                        </select>
                      </div>
                      <div class="col-sm-2">
                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Submit</button>
                      </div>
                    </div>
                  </form>
                  <div class="box-header d-flex">
                    <canvas class="row col-sm-12" id="barChart"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row">
                  <div class="col-lg-12 col-sm-6 col-xs-12">
                    <div class="white-box credit-info">
                      <ul class="list-inline two-part d-flex">
                        <li>
                          <div class="box-title">Total Transaction amount </div>
                        </li>
                        <div class="text-success">
                          <i class="fa fa-inr text-success"></i> {{(dashboarData.total_transaction_amount ? dashboarData.total_transaction_amount : 0).toFixed(2)}}
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-6 col-xs-12">
                    <div class="white-box credit-info">
                      <ul class="list-inline two-part d-flex">
                        <li>
                          <div class="box-title">Transactions amount (Today)</div>
                        </li>
                        <div class="text-success">
                          <i class="fa fa-inr text-success"></i> {{(dashboarData.today_transaction_amount ? dashboarData.today_transaction_amount : 0).toFixed(2)}}
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-6 col-xs-12">
                    <div class="white-box credit-info">
                      <ul class="list-inline two-part d-flex">
                        <li>
                          <div class="box-title">Transactions amount (Yesterday)</div>
                        </li>
                        <div class="text-success">
                          <i class="fa fa-inr text-success"></i> {{(dashboarData.yesterday_transaction_amount ? dashboarData.yesterday_transaction_amount :
                          0).toFixed(2)}}
                        </div>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
<!-- 
<main id="main" *ngIf="!is_admin_verified">
  <div class="main-wrapper container">
    <div style="text-align: center; margin-top: 200px;">
      <div class="card" role="alert" style="padding: 20px">
        <h3 class="">
          <strong>Well done!</strong>
        </h3>
        <h5 class="">Your profile and proofs are successfully submitted to Admin. And you profile under verification process. We will
          inform you once the verification process completed. </h5>
        <hr>
        <p class="mb-0" style="text-align: center">Thank you for choosing us.</p>
      </div>
    </div>
  </div>
</main> -->
