<!--==========================
    Header
  ============================-->
<header id="header" class="header-2">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1>
        <a class="scrollto">
          <a [routerLink]='[""]'>
            <img src="assets/img/way2money-logo.png" alt="way2money" />
          </a>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a routerLinkActive="active" [routerLink]='["/about-us"]'>About</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]='["/faqs"]'>Faq's</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]='["/terms"]'>Terms of Use</a>
        </li>
        <li>
          <a routerLinkActive="active" [routerLink]='["/privacy"]'>Privacy Policy</a>
        </li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->
