<!--==========================
      Header
    ============================-->
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1>
        <a href="#intro" class="scrollto">
          <a routerLink="">
            <img src="assets/img/way2money-logo.png" alt="way2money" />
          </a>
        </a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#intro"><img src="img/logo.png" alt="" title=""></a> -->
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li>
          <a class="btn-get-started" href="#login" data-toggle="modal" data-target=".login" (click)="loginClicked()">Login</a>
        </li>
        <!-- <li> -->
        <!-- <a class="btn-get-started" href="#register" data-toggle="modal" data-target=".register" (click)="regClicked()">Register</a> -->
        <!-- </li> -->
        <!-- <li class="dropdown btn-get-started">
          <button class="dropbtn">Dropdown</button>
          <div class="dropdown-content">
            <form class="form-inline mb-4" #LoginForm="ngForm">
              <div class="form-group">
                <input type="number" maxLength="10" InputText [changeKeyUp]="true" InputType="number" class="input__field" placeholder="Mobile Number"
                  pattern="(6|7|8|9)\d{9}" name="mobile_number" [(ngModel)]="mobile" #ismobile="ngModel" required />
                <field-error [field]="ismobile" fieldName="Mobile Number" PatternMessage="Invalid Mobile Number."></field-error>
              </div>
              &nbsp; &nbsp;
              <div class="form-group">
                <button class="btn btn-success" (click)="SendLink()">SEND APP LINK</button>
              </div>
            </form>
          </div>
        </li> -->
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
</header>
<!-- #header -->

<!--==========================
      Intro Section
    ============================-->
<section id="intro">

  <div class="intro-text">
    <h2>Welcome to Way2Money</h2>
    <p>A payment service that saves you from all the hassle</p>

    <a class="btn-get-started" href="#login" data-toggle="modal" data-target=".login" (click)="loginClicked()">Get Started</a>
  </div>

  <div class="product-screens">

    <div class="product-screen-1 wow fadeInUp" data-wow-delay="0.4s" data-wow-duration="0.6s">
      <img src="assets/img/product-screen-1.jpg" alt="">
    </div>

    <div class="product-screen-2 wow fadeInUp" data-wow-delay="0.2s" data-wow-duration="0.6s">
      <img src="assets/img/product-screen-2.jpg" alt="">
    </div>

    <div class="product-screen-3 wow fadeInUp" data-wow-duration="0.6s">
      <img src="assets/img/product-screen-3.jpg" alt="">
    </div>

  </div>

</section>
<!-- #intro -->

<main id="main">

  <!--==========================
        About Us Section
      ============================-->
  <section id="about" class="section-bg">
    <div class="container-fluid">
      <div class="section-header">
        <h3 class="section-title">About Us</h3>
        <span class="section-divider"></span>
        <p class="section-description">
          India is getting ready for a change. So are we

        </p>
      </div>

      <div class="row">
        <div class="col-lg-6 about-img wow fadeInLeft">
          <img src="assets/img/about-img.jpg" alt="">
        </div>

        <div class="col-lg-6 content wow fadeInRight">
          <h2 class="title-1">Remember way2sms?</h2>
          <p>
            We have come a long way, remember way2sms? (You sure do). At the time when dial up connections and hefty telecom fees were
            making you nervous, we connected Indians with a simple but innovative product, Way2sms. More than 6CR Indians
            relied on our services to connect with their loved ones.

          </p>
          <p>Now the times are different and so is our outlook towards future. With great pride we present to you WAY2MONEY</p>
          <p>Way2Money is the financial technology platform that tries to make any payment effort-free.</p>


        </div>
      </div>

    </div>
  </section>
  <!-- #about -->

  <!--==========================
        Product Featuress Section
      ============================-->
  <section id="features">
    <div class="container">

      <div class="row">

        <div class="col-lg-8 offset-lg-4">
          <div class="section-header wow fadeIn" data-wow-duration="1s">
            <h3 class="section-title">Product Features</h3>
            <span class="section-divider"></span>
          </div>
        </div>

        <div class="col-lg-4 col-md-5 features-img">
          <img src="assets/img/product-features.png" alt="" class="wow fadeInLeft">
        </div>

        <div class="col-lg-8 col-md-7 ">

          <div class="row">

            <div class="col-lg-6 col-md-6 box wow fadeInRight">
              <div class="icon">
                <i class="ion-ios-speedometer-outline"></i>
              </div>
              <h4 class="title">
                Every purchase is just a click away
              </h4>
              <p class="description">You will hate any other way of payment after trying us. Let’s just say no one can pay just once</p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.1s">
              <div class="icon">
                <i class="ion-ios-flask-outline"></i>
              </div>
              <h4 class="title">
                Payment cycle
              </h4>
              <p class="description">15 days payment cycles will help you consolidate all the expense and pay it just once
              </p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon">
                <i class="ion-social-buffer-outline"></i>
              </div>
              <h4 class="title">
                Secured effortless transaction
              </h4>
              <p class="description">Since there is no payment gateway involved, your credit card and banks accounts are absolutely safe
              </p>
            </div>
            <div class="col-lg-6 col-md-6 box wow fadeInRight" data-wow-delay="0.3s">
              <div class="icon">
                <i class="ion-ios-analytics-outline"></i>
              </div>
              <h4 class="title">
                No need of swipe, otp
              </h4>
              <p class="description">Link your way2money account with merchant account just once using OTP and enjoy one click transaction</p>

            </div>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- #features -->



  <!--==========================
        Frequently Asked Questions Section
      ============================-->
  <section id="faq" class="section-bg">
    <div class="container">

      <div class="section-header">
        <h3 class="section-title">Frequently Asked Questions</h3>
        <span class="section-divider"></span>

      </div>

      <ul id="faq-list" class="wow fadeInUp">
        <li>
          <a data-toggle="collapse" class="collapsed" href="#faq1">How it works?
            <i class="ion-android-remove"></i>
          </a>
          <div id="faq1" class="collapse" data-parent="#faq-list">
            <p>
              Our trust algorithm decides your credibility and you are served with the necessary credit line. With the credit line you
              can purchase thought any of our available merchants and repay us back in your leisure time within 15 days
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq2" class="collapsed">What are the service charges?
            <i class="ion-android-remove"></i>
          </a>
          <div id="faq2" class="collapse" data-parent="#faq-list">
            <p>
              For every transaction a 3% convenience fee is charged from the user. No other hidden charges
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq3" class="collapsed">How can I repay?
            <i class="ion-android-remove"></i>
          </a>
          <div id="faq3" class="collapse" data-parent="#faq-list">
            <p>
              Using our app (payment gate)or payment links that are communicated to you at necessary intervals
            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq4" class="collapsed">During repayment there was an error and money was deducted, what to do?
            <i class="ion-android-remove"></i>
          </a>
          <div id="faq4" class="collapse" data-parent="#faq-list">
            <p>
              No worries! You can connect with us on XXXXXXXXXX or email us on
              <a href="mailto:hello@way2money.com">hello@way2money.com</a>

            </p>
          </div>
        </li>

        <li>
          <a data-toggle="collapse" href="#faq5" class="collapsed">My money is deducted however it show pending in my w2m account ?
            <i class="ion-android-remove"></i>
          </a>
          <div id="faq5" class="collapse" data-parent="#faq-list">
            <p>
              There can be multiple reasons here, connect with us on
              <a href="mailto:hello@way2money.com">hello@way2money.com</a> with transaction id, your mobile account number, and the query
            </p>
          </div>
        </li>



      </ul>

    </div>
  </section>
  <!-- #faq -->

  <!--==========================
        Our Team Section
      ============================-->


  <!--==========================
        Gallery Section
      ============================-->


  <!--==========================
        Contact Section
      ============================-->
  <section id="contact">
    <div class="container">
      <div class="row wow fadeInUp">

        <div class="col-lg-4 col-md-4">
          <div class="contact-about">
            <h3>Way2money</h3>

            <div class="social-links" [ngStyle]="{'padding-bottom':'65px'}">
              <a href="#" class="twitter">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="#" class="facebook">
                <i class="fa fa-facebook"></i>
              </a>
              <a href="#" class="instagram">
                <i class="fa fa-instagram"></i>
              </a>
              <a href="#" class="google-plus">
                <i class="fa fa-google-plus"></i>
              </a>
              <a href="#" class="linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- #contact -->

</main>
<footer-cmp></footer-cmp>
<div class="modal fade login show" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  id="LoginModal" style="padding-top: 70px">
  <div class="modal-dialog modal-lg modal-popup modlal-wrapper">
    <div class="form-contentwrapper">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" #closeBtn>×</button>
        <div class="modal-body">
          <div class="modal-container">
            <div class="row d-table">
              <div class="col-md-6 col-left">
                <div class="block">
                  <h1> Login </h1>
                  <span>Way2Money</span>
                </div>
              </div>
              <!-- LOGIN -->
              <div class="col-md-6 col-right form-wrapper" *ngIf="isLogin">
                <div class="form-content">
                  <h3>Login here</h3>
                  <p class="sub">Enter your login credentials</p>
                  <!-- (click)="onClickLogin()" -->
                  <form>
                    <div class="form-group">
                      <!-- <label for="recipient-name" class="col-form-label">Phone No:</label> -->
                      <input type="number" maxLength="10" InputText [changeKeyUp]="true" InputType="number" class="input__field" placeholder="Mobile Number"
                        pattern="(6|7|8|9)\d{9}" name="mobile_number" [(ngModel)]="mobile" #ismobile="ngModel" required />
                      <field-error [field]="ismobile" fieldName="Mobile Number" PatternMessage="Invalid Mobile Number."></field-error>
                    </div>
                    <div class="form-group" *ngIf="isOTPSHOW">
                      <p class="sub" style="font-size:  12px;color:green" *ngIf="showSentMessage">OTP has sent to {{mobile}}</p>
                      <input type="number" maxLength="4" InputText [changeKeyUp]="true" InputType="number" class="input__field" placeholder="Mobile OTP"
                        pattern="\d{4}" name="mobile_otp" [(ngModel)]="otp" #isotp="ngModel" required />
                      <field-error [field]="isotp" fieldName="OTP" PatternMessage=""></field-error>
                      <div *ngIf="timer"><p></p>
                        <span style="
                                    font-size:  12px;">Otp resend will enabled in</span>
                        <h2>{{countDown | async}}</h2>
                      </div><p></p>
                      <div *ngIf="showResendButton" style="font-size: 14px;color:blue">
                        <a (click)="generateOTP()">Resend OTP</a>
                      </div><p></p>
                      <button class="btn btn-regular" (click)="onClickLogin()" [disabled]="!isotp || isotp.invalid" *ngIf="isOTPSHOW">Submit</button>
                    </div>
                    <div class="form-group m-b-50 m-t-50"> {{isotp}}
                        <button class="btn btn-regular" (click)="generateOTP()" [disabled]="ismobile.invalid" *ngIf="!isOTPSHOW">Send OTP</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>