<!--==========================
    Footer
  ============================-->
 
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; Copyright
          <strong>Way2money</strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
          Powered by
          <a href="http://www.way2online.com" target="_blank">Way2online</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a routerLink="">Home</a>
          <a routerLink="/about-us">About</a>
          <a routerLink="/faqs">Faq's</a>
          <a routerLink="/privacy">Privacy Policy</a>
          <a routerLink="/terms">Terms of Use</a>
        </nav>
      </div>
    </div>
  </div>
</footer>
<!-- #footer -->

<!-- <a class="back-to-top">
<i class="fa fa-chevron-up" onclick="scrollToTop();"></i>
</a> -->
